
<div id = "feature_block" class="container" style="margin-top: 2rem">

    <div class="row flex-column" style="text-align: center">
        <div class="panel-title">
            {{ ftext_rand | replace({'{category}': cat_name }) }}
        </div>
        <div class="table-responsive">
            <table >
                <tbody>
                {% for r in rand %}
                    <tr >
                        <td class="text-left">
                            <a href = "{{ r.link }}">
                                <span>{{ r.name }}</span>
                            </a>
                        </td>
                        <td class="text-right">
                            <a href = "{{ r.link }}">
                                {% if r.discount != 0 %}
                                    <div >
                                        <span class="badge badge-primary badge-pill" style="text-decoration: line-through;">{{ r.price|e }}</span>
                                        <span class="badge badge-green badge-pill" >{{ r.discount|e }}</span>
                                    </div>
                                {% else %}
                                <div><span class="badge badge-primary badge-pill">{{ r.price|e }}</span></div>
                                {% endif %}
                            </a>
                        </td>
                    </tr>
                {% endfor %}

                </tbody>
            </table>
        </div>
    </div>

    <div class="row mt-1" style="text-align: center">
            <div class="panel-group panel " id="accordion" role="tablist" aria-multiselectable="true">

                <div class="panel-default">
                    <div class="panel-heading" role="tab" id="headingOne">
                        <h4 class="panel-title text-left">

                            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                <i class="fa"></i>
                                {{ ftext_price | replace({'{category}': cat_name }) }}
                            </a>
                        </h4>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                        <div class="panel-body">
                            <h4 class="panel-title text-left" >
                                {{ ftext_help_price | replace({'{category}': cat_name }) }}
                            </h4>
                            <ul class="list-group">
                                {% for cheap in cheapest  %}
                                    <a href = "{{ cheap.link }}">
                                        <li class="list-group-item d-flex justify-content-between align-items-center">
                                            <span>{{ cheap.name }}</span>
                                            {% if cheap.discount != 0 %}
                                                <div class="flex-c text-right">
                                                    <span class="badge badge-primary badge-pill" style="text-decoration: line-through;">{{ cheap.price|e }}</span>
                                                    <span class="badge badge-green badge-pill" >{{ cheap.discount|e }}</span>
                                                </div>
                                            {% else %}
                                            <div class="flex-c text-right"><span class="badge badge-primary badge-pill">{{ cheap.price|e }}</span></div>
                                            {% endif %}
                                        </li>
                                    </a>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="panel-default">
                    <div class="panel-heading" role="tab" id="headingTwo">
                        <h4 class="panel-title text-left">
                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                <i class="fa"></i>
                                {{ ftext_premium | replace({'{category}': cat_name }) }}
                            </a>
                        </h4>
                    </div>
                    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                        <div class="panel-body">
                            <h4 class="panel-title  text-left">
                                {{ ftext_help_premium | replace({'{category}': cat_name }) }}
                            </h4>
                            <ul class="list-group">
                                {% for exp in expensive  %}
                                    <a href = "{{ exp.link }}">
                                        <li class="list-group-item d-flex justify-content-between align-items-center">
                                            <span>{{ exp.name }}</span>
                                            {% if exp.discount != 0 %}
                                                <div class="flex-c text-right">
                                                    <span class="badge badge-primary badge-pill" style="text-decoration: line-through;">{{ exp.price|e }}</span>
                                                    <span class="badge badge-green badge-pill" >{{ exp.discount|e }}</span>
                                                </div>
                                            {% else %}
                                            <div class="flex-c text-right"><span class="badge badge-primary badge-pill">{{ exp.price|e }}</span></div>
                                            {% endif %}
                                        </li>
                                    </a>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>

                {% if discounts|length %}

                    <div class=" panel-default">
                    <div class="panel-heading" role="tab" id="headingThree">
                        <h4 class="panel-title text-left">
                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                <i class="fa"></i>
                                {{ ftext_discount | replace({'{category}': cat_name }) }}
                            </a>
                        </h4>
                    </div>
                    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                        <div class="panel-body">
                            <h4 class="panel-title   text-left">
                                {{ ftext_help_discount | replace({'{category}': cat_name }) }}
                            </h4>
                            <ul class="list-group">
                                {% for discount in discounts %}
                                    <a href = "{{ discount.link }}">
                                       <li class="list-group-item d-flex justify-content-between align-items-center">
                                            <span>{{ discount.name }}</span>
                                           {% if discount.discount != 0 %}
                                               <div class="flex-c text-right">
                                                    <span class="badge badge-primary badge-pill" style="text-decoration: line-through;">{{ discount.price|e }}</span>
                                                    <span class="badge badge-green badge-pill" >{{ discount.discount|e }}</span>
                                               </div>
                                           {% else %}
                                           <div class="flex-c text-right"><span class="badge badge-primary badge-pill">{{ discount.price|e }}</span></div>
                                           {% endif %}
                                        </li>
                                    </a>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>

                {% endif %}

                {% if year|length %}

                    <div class=" panel-default">
                        <div class="panel-heading" role="tab" id="headingFour">
                            <h4 class="panel-title text-left">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                    <i class="fa"></i>
                                    {{ ftext_year | replace({'{category}': cat_name }) }}
                                </a>
                            </h4>
                        </div>
                        <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
                            <div class="panel-body">
                                <h4 class="panel-title  text-left">
                                    {{ ftext_help_year | replace({'{category}': cat_name }) }}
                                </h4>
                                <ul class="list-group">
                                    {% for y in year %}
                                        <a href = "{{ y.link }}">
                                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                                <span>{{ y.name }}</span>
                                                {% if y.discount != 0 %}
                                                    <div class="flex-c text-right">
                                                        <span class="badge badge-primary badge-pill" style="text-decoration: line-through;">{{ y.price|e }}</span>
                                                        <span class="badge badge-green badge-pill" >{{ y.discount|e }}</span>
                                                    </div>
                                                {% else %}
                                                <div class="flex-c text-right"><span class="badge badge-primary badge-pill">{{ y.price|e }}</span></div>
                                                {% endif %}
                                            </li>
                                        </a>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>

                {% endif %}

                {% if rand|length %}

                    <div class=" panel-default">
                        <div class="panel-heading" role="tab" id="headingFive">
                            <h4 class="panel-title text-left">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                                    <i class="fa"></i>
                                    {{ ftext_new | replace({'{category}': cat_name }) }}
                                </a>
                            </h4>
                        </div>
                        <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
                            <div class="panel-body">
                                <h4 class="panel-title   text-left">
                                    {{ ftext_help_new | replace({'{category}': cat_name }) }}
                                </h4>
                                <ul class="list-group">
                                    {% for n in new %}
                                        <a href = "{{ n.link }}">
                                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                                <span>{{ n.name }}</span>
                                                {% if n.discount != 0 %}
                                                    <div class="flex-c text-right">
                                                        <span class="badge badge-primary badge-pill" style="text-decoration: line-through;">{{ n.price|e }}</span>
                                                        <span class="badge badge-green badge-pill" >{{ n.discount|e }}</span>
                                                    </div>
                                                {% else %}
                                                    <div class="flex-c text-right"><span class="badge badge-primary badge-pill">{{ n.price|e }}</span></div>
                                                {% endif %}
                                            </li>
                                        </a>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                {% endif %}
            </div>
    </div>

</div>
